body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}

header {
  background-color: #f04e30;
  color: white;
  padding: 20px 15px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map {
  width: 95%;
  height: 400px;
  margin: 20px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.controls {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 95%;
}

button {
  flex: 1;
  padding: 12px 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.location-info {
  margin: 15px 0;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 95%;
}

#location {
  font-weight: bold;
  color: #333;
}

.popup {
  font-size: 14px;
  color: #333;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  word-wrap: break-word;
}
